.about--container {
	.about--contact  {
		overflow:hidden;
		padding:1em 0em;
		background-size:contain;
		background-position:150% 20%;
		background-repeat:no-repeat;

		@include desktop {
			padding:1.5em 3em;
			background-position:80% 50px;
			transition:background-position 0.2s;

			&:hover {
				background-position:80% 20px;
			}
		}
		.contact--info {
			padding:$margin--small $margin--small;

			@include desktop {
				padding:$margin--large $margin--medium;
			}

			h2 {
				font-size:3em;
				opacity: 1;
				margin-top:0em;
				font-weight:600;
				margin-bottom:0.2em;
			}
			p {
				font-size:1em;
				width:80%;
				@include desktop {
					font-size:1.5em;
					width:50%;
				}
				@include mega {
					font-size:1.5em;
					width:30%;
				}
			}

			h3 {
				font-size:1.2em;
				font-weight:800;
				margin-top:0em;
				margin-bottom:0em;

				@include desktop {
					font-size:1.5em;
				}

				a {
					color:#000;
					text-decoration: none;

					&:hover {
						text-decoration: underline;
					}
				}
			}

		}
	}
}