//Webbutveckling 
/*
#box_x5F_1 {
transform:translate(188.000000px, 96.000000px);
}
#box_x5F_2 {
	transform: translate(237.000000px, 68.000000px);
}
#box_x5F_3 {
	transform: translate(140.000000px, 68.000000px);
}
#box_x5F_4 {
	transform: translate(188.000000px, 40.000000px);
}
#box_x5F_5 {
	transform: translate(92.000000px, 40.000000px);
}
#box_x5F_6 {
	transform: translate(140.000000px, 12.000000px);
}


@include desktop {
	#box_x5F_1 {
	transform:translate(188.000000px, -700.000000px);
	transition: all 0.75s;
	transition-delay: 0.1s;
	}
	#box_x5F_2 {
		transform: translate(237.000000px, -700.000000px);
		transition: all 0.75s;
		transition-delay: 0.2s;
	}
	#box_x5F_3 {
		transform: translate(140.000000px, -700.000000px);
		transition: all 0.75s;
		transition-delay: 0.3s;
	}
	#box_x5F_4 {
		transform: translate(188.000000px, -700.000000px);
		transition: all 0.75s;
		transition-delay: 0.4s;
	}
	#box_x5F_5 {
		transform: translate(92.000000px, -700.000000px);
		transition: all 0.75s;
		transition-delay: 0.5s;
	}
	#box_x5F_6 {
		transform: translate(140.000000px, -700.000000px);
		transition: all 0.75s;
		transition-delay: 0.6s;
	}
}

@include mega {
	#box_x5F_1 {
	transform:translate(188.000000px, -700.000000px);
	transition: all 0.75s;
	transition-delay: 0.1s;
	}
	#box_x5F_2 {
		transform: translate(237.000000px, -700.000000px);
		transition: all 0.75s;
		transition-delay: 0.2s;
	}
	#box_x5F_3 {
		transform: translate(140.000000px, -700.000000px);
		transition: all 0.75s;
		transition-delay: 0.3s;
	}
	#box_x5F_4 {
		transform: translate(188.000000px, -700.000000px);
		transition: all 0.75s;
		transition-delay: 0.4s;
	}
	#box_x5F_5 {
		transform: translate(92.000000px, -700.000000px);
		transition: all 0.75s;
		transition-delay: 0.5s;
	}
	#box_x5F_6 {
		transform: translate(140.000000px, -700.000000px);
		transition: all 0.75s;
		transition-delay: 0.6s;
	}
}

// Digital Design 

#back_x5F_end {
	transform: translateX(27.000000px) translateY(270.000000px);
	transition: all 0.75s;
	transition-delay: 0.1s;
}
#Phone_x5F_top {
	transform: translateX(0.000000px) translateY(240.000000px);
	transition: all 1s;
}

// Rocket Illustration

#raket_x5F_skugga {
	transition:all 0.4s;
	opacity:1;
}
#raket{
	transition:all 2s;
	transform:translateY(0.00000px) translateX(150.00000px);
}

#knapp {
	transform:translateY(227.00000px) translateX(40.00000px);
	transition:all 0.7s;
}






@include mega {

	&:hover{
			//Webb

			#box_x5F_1 {
			transform:translate(188.000000px, 96.000000px);
			}
			#box_x5F_2 {
				transform: translate(237.000000px, 68.000000px);
			}
			#box_x5F_3 {
				transform: translate(140.000000px, 68.000000px);
			}
			#box_x5F_4 {
				transform: translate(188.000000px, 40.000000px);
			}
			#box_x5F_5 {
				transform: translate(92.000000px, 40.000000px);
			}
			#box_x5F_6 {
				transform: translate(140.000000px, 12.000000px);
			}

			// Digital Design 
			#back_x5F_end {
				transform: translateX(27.000000px) translateY(100.000000px);
			}

			#Phone_x5F_top {
				transform: translateX(0.000000px) translateY(-100.000000px);
			}
			// Rocket Illustration
			#raket{
				transition:all 0.8s;
				transform:translateY(-1300.00000px) translateX(150.00000px);
			}
			#raket_x5F_skugga {
				transition:all 0.4s;
				opacity:0.4;
			}
			#knapp {
				transform:translateY(230.00000px) translateX(40.00000px);
			}

		}

}
@include desktop {

	&:hover{

			//Internet of things 

			#glödlampa_tänd {

				animation: flicker 1s infinite alternate;

				@keyframes flicker {
					0% {
						opacity:1;
					}
					100% {
						opacity:0;
					}
				}
			}


			//Webb

			#box_x5F_1 {
			transform:translate(188.000000px, 96.000000px);
			}
			#box_x5F_2 {
				transform: translate(237.000000px, 68.000000px);
			}
			#box_x5F_3 {
				transform: translate(140.000000px, 68.000000px);
			}
			#box_x5F_4 {
				transform: translate(188.000000px, 40.000000px);
			}
			#box_x5F_5 {
				transform: translate(92.000000px, 40.000000px);
			}
			#box_x5F_6 {
				transform: translate(140.000000px, 12.000000px);
			}

			// Digital Design 
			#back_x5F_end {
				transform: translateX(27.000000px) translateY(100.000000px);
			}

			#Phone_x5F_top {
				transform: translateX(0.000000px) translateY(-100.000000px);
			}
			// Rocket Illustration
			#raket{
				transition:all 0.8s;
				transform:translateY(-950.00000px) translateX(150.00000px);
			}
			#raket_x5F_skugga {
				transition:all 0.4s;
				opacity:0.4;
			}
			#knapp {
				transform:translateY(230.00000px) translateX(40.00000px);
			}

		}
}
*/