.blog--wrapper {
	position:relative;
	width:100%;
	@include mask--hover;
	@include hover;
	.blog--image {
		height:300px;
		background: rgba(0, 0, 0, 0.05);
		position:relative;
		&::after {
			content: "";
		    background: url(../../assets/wave-transparent.svg) 0 70% repeat-x;
		    position: absolute;
		    display:block;
			left: -50%;
			right: -50%;
			z-index: 1;
			height: 25px;
			transform: scale(0.5);
			top: auto;
			bottom: -18px;
		}
	}

	.blog--content {
		padding:$margin--small $margin--small;
		@include mega {
			padding:$margin--medium/1.5 $margin--medium*1.5;
		}
		@include desktop {
			padding:$margin--medium/1.5 $margin--medium/1;
		}
		@include tablet {
			padding:$margin--small $margin--small;
		}
		@include tablet-landscape {
			padding:$margin--medium/1.5 $margin--small;
		}

	}

	h4 {
		opacity:1;
		z-index:2;
		margin-top:0em;
		margin-bottom:0em;
		@include mega {
			margin-top:0.25em;
		}
		@include desktop {
			margin-top:0.25em;
		}
	}
	p {
		font-size:1.1em;
	}

	.author--wrapper {
		margin-top:2em;
		position:absolute;
		bottom:2em;
	}
	.author--image {
		height:60px;
		width:60px;
		border-radius:50%;
		background-size:cover;
		background-repeat:no-repeat;
		background-position:center;
	}

	.author--info {
		margin-left:1em;
		h5 {
			margin-top:0em;
			font-size:1em;
			font-weight:400;
			margin-bottom:0em;
		}
		h4 {
			margin-top:0em;
			font-weight:500;
			font-size:1.2em;
		}
	}
}