button {
	border:none;
	outline:none;
}
img {
	user-drag: none; 
	user-select: none;
}


a {
  text-decoration: none;
  position: relative;
}

a:after {
  content: '';
  position: absolute;
  bottom: 1px;
  left: 0;
  width: 0%;
  border-bottom: 3.5px solid #fff;
  transition: 0.4s;
  transform: rotate(-2deg);
	transform-origin: left top 0;
}

@mixin underline {
	@include desktop {
		&:hover:after {
		  width: 100%;
		}
	}

	@include mega {
		&:hover:after {
		  width: 100%;
		}
	}

}

@mixin floatUp {
	@include desktop {
		&:hover {
		  transform:translateY(-10px);
		  cursor:pointer;
		}
	}

	@include mega {
		&:hover {
		  transform:translateY(-10px);
		    cursor:pointer;
		}
	}

}

.text--wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    // padding: 5em 0em;
}

.read--more {
	padding: 0.7em 2em; 
	background-color: #B076B9; 
	opacity: 1; 
	font-size: 1.3em; 
	font-weight: 800; 
	text-transform: uppercase; 
	z-index: 999; 	
	border-radius: 100em;
	position: absolute;
    bottom: 0;
	color: white; 
	box-shadow: 0px 0px 25px 0px rgba(157,95,168,1);
	&:hover {	
		.masked--image {
			transform: translate(-50%, -50%) scale(1.2);
			opacity:.35;
			.masked--image_inner {
				transform:scale(1.2);
			}
		}
	}
}

.text--tilted {
	transform: rotate(-2deg);
	transform-origin: left top 0;
	font-style:italic;
}
.masked--image {
	width:200px;
	height:200px;
	opacity:0.2;
	overflow:hidden;
	border-radius:100%;
	background-size:cover;
	background-position: center top;
	z-index:1;
	clip-path: none;
	transition:all .45s cubic-bezier(0.77, 0, 0.175, 1);
	@include centerer;

	.masked--image_inner {
		background-size:cover;
		background-position: center top;
		height:100%;
		transition:all .55s cubic-bezier(0.77, 0, 0.175, 1);
		width:100%;
	}

	&.small {
		width:200px;
		height:200px;
	}

	&.large {
		width:100%;
		height:100%;
		clip-path: circle(20% at center);
		animation: imageZoom 0.5s cubic-bezier(0.77, 0, 0.175, 1);
		animation-fill-mode:forwards;
		animation-delay:0.5s;
		@keyframes imageZoom {
			0% {
				clip-path: circle(20% at center);
				opacity:0.2;
			}
			100% {
				clip-path: circle(100% at center);
				opacity:0.8;
			}
		}
		border-radius:0%;
	}

	@include mega {
		width:350px;
		height:350px;
		&.small {
			width:200px;
			height:200px;
		}
	}
	@include desktop {
		width:300px;
		height:300px;
		&.small {
			width:175px;
			height:175px;
		}
	}
	@include tablet {
		width:350px;
		height:350px;
		&.small {
			width:200px;
			height:200px;
		}
	}
	@include tablet-landscape {
		width:300px;
		height:300px;
		&.small {
			width:200px;
			height:200px;
		}
	}
	@include mobile-landscape {
		width:200px;
		height:200px;
		&.small {
			width:200px;
			height:200px;
		}
	}
}

@mixin hover {
	@include desktop {
		&:hover {
			cursor:pointer;
		}
	}
	@include mega {
		&:hover {
			cursor:pointer;
		}
	}
}
@mixin mask--hover {
	@include desktop {
			&:hover {
				.masked--image {
				transform: translate(-50%, -50%) scale(1.1);
				opacity:.35;
				.masked--image_inner {
					transform:scale(1.1);
				}
			}
		}
	}
	@include mega {
			&:hover {
				.masked--image {
				transform: translate(-50%, -50%) scale(1.1);
				.masked--image_inner {
					transform:scale(1.1);
				}
			}
		}
	}
}
@keyframes imagePulse {
	0% {
		clip-path: circle(35% at center);
	}
	100% {
		clip-path: circle(50% at center);
	}
}

.image--background {
	position:relative;
	overflow:hidden;
	cursor:pointer;
	@include desktop {
		&:hover {
			.image--inner {
				transform:scale(1.1);
				cursor:pointer;
			}
		}
	}
	@include mega {
		&:hover {
			.image--inner {
				transform:scale(1.1);
				cursor:pointer;
			}
		}
	}

	.image--inner {
		width:100%;
		height:100%;
		transition:all .35s cubic-bezier(0.77, 0, 0.175, 1);
		position:absolute;
		background-size:cover;
		background-position:center center;
		background-repeat: no-repeat;
		z-index:1;
	}
	.image--overlay {
		width:100%;
		height:100%;
		z-index:2;
		position:absolute;
		background-color:rgba(0,0,0,0.35);
	}
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: left;
}

.text-center {
	text-align: center;
}

.margin-auto {
	margin:0 auto;
}

.flex {
	display:flex;

	&.align-center {
		justify-content: center;
	}

	&.align-middle {
		align-items: center;
	}

	&.align-right {
		justify-content: flex-end;
	}

	&.align-left {
		justify-content: flex-start;
	}

	&.flow-vertical {
		flex-direction: column;
	}

	&.flow-horizontal {
		flex-direction: row;
	}

	&.full {
		flex:1;
	}
}