
button {
	border:none;
	outline:none;
}

.primary--button {
	padding:0.65em 2em;
	border-radius:2em;
	color:#fff;
	font-size:1.2em;
	font-weight:500;
	font-family: $font;
	position:relative;
	overflow:hidden;
	background-color: rgba(0, 0, 0, 0.15);
	span { 
		display:none;
	}
	@include desktop {

		transition: background-color 0.2s;
		span {
			position:absolute;
			display:block;
			bottom:-50px;
			transform:rotateX(100deg);
			margin:auto;
			left:0;
			right:0;
			transition:all 0.2s $easing;
		}

		&:hover {
			cursor:pointer;
			background-color: rgba(0, 0, 0, 0.35);
			span {
				bottom:-15px;
				transform:rotateX(0deg);
			}
		}
	}
	&.block{

	}
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: left;
}

.text-center {
	text-align: center;
}

.flex {
	display:flex;

	&.align-center {
		justify-content: center;
	}

	&.align-middle {
		align-items: center;
	}

	&.align-right {
		justify-content: flex-end;
	}

	&.align-left {
		justify-content: flex-start;
	}

	&.flow-vertical {
		flex-direction: column;
	}

	&.flow-horizontal {
		flex-direction: row;
	}

	&.full {
		flex:1;
	}
}


@keyframes hover {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(20px);
  }
}

@keyframes scale {
  0% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}