button {
	border:none;
	outline:none;
}
img {
	user-drag: none; 
	user-select: none;
}

a {
  text-decoration: none;
  position: relative;
}

a:after {
  content: '';
  position: absolute;
  bottom: 1px;
  left: 0;
  width: 0%;
  border-bottom: 3.5px solid #fff;
  transition: 0.4s;
  transform: rotate(-2deg);
	transform-origin: left top 0;
}

@mixin underline {
	@include desktop {
		&:hover:after {
		  width: 100%;
		}
	}

	@include mega {
		&:hover:after {
		  width: 100%;
		}
	}

}

.text--tilted {
	transform: rotate(-2deg);
	transform-origin: left top 0;
	font-style:italic;
}
.masked--image {
	width:100%;
	height:75%;
	opacity:0.2;
	border-radius:100%;
	background-size:cover;
	background-position:center;
	z-index:1;
	clip-path: circle(20% at center);
	transition:all 1s cubic-bezier(0.77, 0, 0.175, 1);
	@include centerer;

	&.large {
		width:100%;
		height:100%;
		animation: imageZoom 1.5s cubic-bezier(0.77, 0, 0.175, 1);
		animation-fill-mode:forwards;
		animation-delay:0.5s;
		@keyframes imageZoom {
			0% {
				clip-path: circle(20% at center);
				opacity:0.2;
			}
			100% {
				clip-path: circle(100% at center);
				opacity:1;
			}
		}
		border-radius:0%;
	}

	@include mega {
		width:50%;
		clip-path: circle(20% at center);
	}
	@include desktop {
		width:50%;
		clip-path: circle(20% at center);
	}
	@include tablet {
		width:50%;
		clip-path: circle(20% at center);
	}
	@include tablet-landscape {
		width:50%;
		clip-path: circle(20% at center);
	}
}

@mixin hover {
	@include desktop {
		&:hover {
			cursor:pointer;
		}
	}
	@include mega {
		&:hover {
			cursor:pointer;
		}
	}
}
@mixin mask--hover {
	.masked--image {
		animation: imagePulse 2s infinite alternate cubic-bezier(0.77, 0, 0.175, 1);
	}
	@include desktop {
		.masked--image {
			animation: none;
		}
		&:hover {
		    cursor:pointer;
		    .masked--image {
		      clip-path: circle(30% at center);
		      opacity:0.4;
		    }
		}
	}
	@include mega {
		.masked--image {
			animation: none;
		}
		&:hover {
		    cursor:pointer;
		    .masked--image {
		      clip-path: circle(25% at center);
		      opacity:0.4;
		    }
		}
	}
}
@keyframes imagePulse {
	0% {
		clip-path: circle(20% at center);
	}
	100% {
		clip-path: circle(30% at center);
	}
}

.image--background {
	background-size:cover;
	background-position:center center;
	background-repeat: no-repeat;
	position:relative;
	.image--overlay {
		width:100%;
		height:100%;
		position:absolute;
		background-color:rgba(0,0,0,0.35);
	}
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: left;
}

.text-center {
	text-align: center;
}

.margin-auto {
	margin:0 auto;
}

.flex {
	display:flex;

	&.align-center {
		justify-content: center;
	}

	&.align-middle {
		align-items: center;
	}

	&.align-right {
		justify-content: flex-end;
	}

	&.align-left {
		justify-content: flex-start;
	}

	&.flow-vertical {
		flex-direction: column;
	}

	&.flow-horizontal {
		flex-direction: row;
	}

	&.full {
		flex:1;
	}
}