.footer {
	padding:$margin--small $margin--small/1.5;
	color:#fff;
	background-color:$dobus--black;

	@include desktop {
		padding: $margin--medium;
	}
	h1 {
		font-size:2.25em;
		margin-top:0em;
		@include desktop {
			font-size:3.25em;
		}
	}

	p {
		font-size:1.2em;
		opacity: 0.5;
		margin:0.5em 0em 0.5em 0em; 
		font-weight:500;
		transition:opacity 0.2s;
		&:hover {
			opacity: 1;
		}
		a {
			text-decoration: none;
			color:#fff;
		}
	}

	.references--container{
		margin-top:3em;
		display:inline-flex;
		border-top:1px solid #313131;
		padding-top:2em;
		width:100%;
		//background-color:blue;
		justify-content: space-between;
		align-items:center;
		img{
			display:inline-block;
			max-width:190px;
		    max-height:70px;
		    width: auto;
		    height: auto;
			opacity: 0.2;
			padding:0em 2em;
			margin-top:1em;

			&:first-child {
				border-left:none;			}
		}

	}
}