.footer {
	padding:$margin--small $margin--small/1.5;
	color:#fff;
	background-color:$dobus--black;

	@include desktop {
		padding: $margin--medium;
	}
	h1 {
		font-size:2.25em;
		margin-top:0em;
		@include desktop {
			font-size:3.25em;
		}
	}

	p {
		font-size:1.2em;
		opacity: 0.5;
		margin:0.5em 0em 0.5em 0em; 
		font-weight:500;
		transition:opacity 0.2s;
		&:hover {
			opacity: 1;
		}
		a {
			text-decoration: none;
			color:#fff;
		}
	}

	.references--container{
		margin-top:2em;
		img{
			//margin-left:1em;
			padding:0em 1em;
			border-right:1px solid white;
			//border-right:2px solid green;
			margin-top:1em;

			&:first-child {
				border-left:none;
			}
		}

	}
}