.footer {
	padding:$margin--small $margin--small/1.5;
	color:#fff;
	z-index:1;
	position:relative;
	text-align:center;
	background-color:$dobus--black;
	&::after {
		content: "";
	    background: url(../../assets/wave.svg) 0 100% repeat-x;
	    position: absolute;
		left: -50%;
		right: -50%;
		z-index: 1;
		height: 25px;
		-webkit-transform: scale(0.5);
		transform: scale(0.5);
		top: -18px;
		bottom: auto;
	}
	@include mega {
		padding: $margin--large;
		text-align: left;
	}
	@include desktop {
		padding: $margin--medium*1.5;
		text-align: left;
	}
	p {
		font-size:1.2em;
		opacity: 0.5;
		margin:0.5em 0em 0.5em 0em; 
		font-weight:500;
		transition:opacity 0.2s;
		@include mega{
			font-size:1.45em;
		}
		@include desktop {
			font-size:1.2em
		}
	    @include tablet {
	        font-size:1.2em
	    }
	 	@include tablet-landscape {
	    	font-size:1.2em
	  	}
		@include mobile-landscape {
			font-size:1.2em
		}
		a {
			text-decoration: none;
			color:#fff;
			&:hover {
				opacity: 1;
			}
		}
	}
}