.landing--container {
	position:relative;
	color:#fff;
	.landing--intro {
		height:100vh;
		padding:0em $margin--small/4;
		@include mega {
			padding:0em $margin--large*1.5;
		}
		@include desktop {
			padding:0em $margin--large;
		}
		@include tablet {
			padding:0em $margin--small;
		}
		@include tablet-landscape {
			padding:0em $margin--medium;
		}

	}

	.landing--project {
		padding:$margin--medium $margin--small;
		position:relative;
		@include mask--hover;
		h2 {
			margin-top:0.5em;
			position:relative;
			z-index:2;
		}
		h3 {
			margin-bottom:0em;
			position:relative;
			z-index:2;
		}
		@include mega {
			padding:$margin--large $margin--large*1.5;
		}
		@include desktop {
			padding:$margin--large;
		}
		@include tablet {
			padding:$margin--large $margin--small;
		}
		@include tablet-landscape {
			padding:$margin--large $margin--medium;
		}
	}
	.landing--about {
		padding:$margin--small*1.5 $margin--small;
		position:relative;
		@include mega {
			padding:$margin--large*2 $margin--large*1.5;
		}
		@include desktop {
			padding:$margin--large*1.5;
		}
		@include tablet {
			padding:$margin--large $margin--small;
		}
		@include tablet-landscape {
			padding:$margin--large $margin--medium;
		}
		h2 {
			margin-top:0.5em;
			position:relative;
			z-index:2;
		}
		h3 {
			margin-bottom:0em;
			position:relative;
			z-index:2;
		}
	}
}