	

	.loading--container {
		height:100vh;
		width:100%;
		position:fixed;
		top:0;
		left:0;
		z-index:9;
		background-color:$dobus--primary;
	}
	.landing--container {
		height:100vh;
		//background-color:$dobus--primary;
		color:#fff;
		padding:0em $margin--small/2;
		@include desktop {
			padding:0em $margin--large;
		}
		@include tablet {
			padding:0em $margin--small;
		}

		.landing--intro {
			height:100vh;
			@include desktop {
				height:100vh;
				align-items:center;
			}
			h1 {
				font-size:1.5em;
				@include desktop {
					font-size:3.25em;
					line-height: 1.1;
				}
				@include tablet {
					font-size:2.8em;
				}
			}
		}
		.landing--carousel {
			height:100%;
			height:30vh;
			position:absolute;
			bottom:0;
			left:0;

			@include desktop {
				position:flex;
				bottom:auto;
				left:auto;
			}
			.carousel--item {
				width:100%;
				padding:0em;
				flex-direction:row;
				//transform: perspective( 900px ) rotateY( -10deg );
				@include desktop {
					padding:$margin--medium;
				}


				.item--right {
				    display: flex;
				    justify-content: center;
				    flex-direction: column;
					span {
						font-size:1em;
						font-weight:500;
						opacity:0.2;
						color:#000;
						@include desktop {
							font-size:1.5em;
						}
						@include tablet {
							font-size:1.5em;
						}
					}
					h2 {
						margin-top:0.2em;
						font-size:1.25em;
						@include desktop {
							font-size:2em;
						}
						@include tablet {
							font-size:2em;
						}
					}
				}

				.item--shadow {
					height:10px;
					width:80%;
					@include desktop {
						width:50%;
						height:20px;
					}
					@include tablet {
						width:60%;
						height:12.5px;
					}
					margin:0 auto;
					opacity:0.2;
					background-color:#000;
					border-radius: 70%;
					z-index:1;
					margin-top:$margin--small/1.5;
					margin-bottom:$margin--small/1.5;
					animation: scale 1.75s infinite;
					animation-direction: alternate;
				}
				.item--left {

					.item--image {
						height:110px;

						@include desktop {
							height:280px;
						}
						@include tablet {
							height:210px;
						}
						width:100%;
						z-index:2;
						background-size:contain;
						background-position:center;
						background-repeat:no-repeat;
						animation: hover 1.75s infinite;
						animation-direction: alternate;

					}
				}
			}
			@include desktop {
				height:100vh;
			}
		}
	}