.loading--container {
	position:fixed;
	z-index:15;
	height:100%;
	width:100%;
	overflow:hidden;
	pointer-events:none;
	svg {
		position:absolute;
		bottom:0;
		margin:0 auto;
		left:0;
		right:0;
		width:3.5em;
		transform:translateY(10em);
		animation:none;
	}

	@keyframes flyUp {
		0% {
			transform:translateY(10em);
		}
		100% {
			transform:translateY(-100vh);
		}
	}

	.loading--inner {
		height:100%;
		transition-delay:0.25s;
		background-color:$design--color;
		transition:all .5s cubic-bezier(0.77, 0, 0.175, 1);
		width:100%;
		transform:translateY(120%);
	}

	&.fadeIn {
		transition-delay:0.25s;
		svg {
			animation:flyUp .5s cubic-bezier(0.77, 0, 0.175, 1);
		}
		.loading--inner {
			transform:translateY(0%);
		}
	}
}



