.loading--container {
	background:$dobus--primary;
	pointer-events:none;
	opacity:0;
	transition:opacity 1s;

	&.enter {
		opacity:1;
		transition:opacity 1s;
	}

	&.leave {
		opacity:0;
		transition:opacity 1s;
	}

	
}