.nav--back {
	position:fixed;
	left:20px;
	top:20px;
	opacity:0;
	transition:all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
	transform:translateX(-100px);
	z-index:999;
	display:flex;
	justify-content: center;
	align-items: center;
	height:50px;
	width:50px;
	border-radius:50%;
	@include hover;
//	background-color:$dobus--primary;
	background:rgba(0,0,0,0.2);

	@include mega {
		left:95px;
		top:60px;
	}

	@include desktop {
		left:95px;
		top:60px;
	}

	@include tablet-landscape {
		left:55px;
		top:40px;
	}


	@include tablet {
		left:55px;
		top:30px;
	}

	@include mobile-landscape {
		left:25px;
		top:20px;
	}

	&.nav--project_open {
		opacity:1;
		transform:translateX(0px);
	}
}

.nav--primary {
	position:absolute;
	z-index:2;
	top: 0;
    left: 0;
    right: 0;
    width: 100%;
	margin:0 auto;
	transition:left 0.2s;
	padding:2em 0em;
	.nav--logo {
		transition:opacity 0.3s;
		position:relative;

		svg {
			transition:transform 0.25s;
		}

		svg {
			@include floatUp;
		}
	}
	&.nav--project_open {
		.nav--logo {
			opacity:0;
		}
	}

	@include tablet {
		padding:2em 4em;
		z-index:999;
		position:fixed;
	}

	@include mega {
		padding:2em 4em;
		z-index:999;
		position:fixed;
	}

	@include tablet-landscape {
		padding:2em 4em;
		z-index:999;
		position:fixed;
	}

	@include desktop {
		padding:2em 4em;
		position:fixed;
		z-index:999;

	}

	@include mobile-landscape {
		position:absolute;
		padding:1.5em;
	}

	.nav--links {
		 display: block;
		 overflow: scroll;
		 margin-top:1.2em;

		 .nav--links--inner {
		 	display:inline-flex;
		 	margin:0 auto;
			 @include mega {
			 	display: inline-flex;
			 	margin:0;
			 }
			 @include desktop {
			 	display: inline-flex;
			 	margin:0;
			 }
			 @include tablet {
		 		display: inline-flex;
		 		margin:0;
			 }
			 @include tablet-landscape{
		 		display: inline-flex;
		 		margin:0;
			 }
			  @include mobile-landscape {
			 	display: inline-flex;
			 	margin:0;
			 }
		 }
		  @include mobile-landscape {
		 	justify-content: flex-end;
		 	display: inline-flex;
		 	margin-top:0em;
		 	overflow: hidden;
		 }
		 @include tablet {
		 	justify-content: flex-end;
		 	display: inline-flex;
		 	margin-top:0em;
		 	overflow: hidden;
		 }
		 @include tablet-landscape {
		 	justify-content: flex-end;
		 	display: inline-flex;
		 	overflow: hidden;
		 }
		 @include mega {
		 	justify-content: flex-end;
		 	display: inline-flex;
		 	overflow: hidden;
		 }
		 @include desktop {
		 	justify-content: flex-end;
		 	display: inline-flex;
		 	overflow: hidden;
		 }
	 }
		a {
			text-decoration: none;
			transition:transform 0.25s;
			@include floatUp;
			font-size:0.75em;
			margin:0 auto;
			font-weight:900;
			letter-spacing: 0.1em;
			text-transform:uppercase;
			color:#fff;
			position:relative;

			@include mega {
				font-size:1em;
			}
			@include desktop {
				font-size:1em;
			}

			@include tablet {
				font-size:0.9em;
			}


			&:first-child {
				margin-left:1em;
			}
			margin-right:0.25em;
			overflow:hidden;
		 	mark {
		 		margin: 0 auto;
			    background-color:$transparent;
			    padding:0.65em 1em;
			    white-space: nowrap;
			    background-size: 201% 100%;
			    background-position: 0% 100%;
			    background-color:none;
			    transition: background-position 1.5s cubic-bezier(0.77, 0, 0.175, 1);
			    border-radius:50px;
			    color:#fff;
			    &:nth-child(1) {
			       mask {
			      	 background-image: linear-gradient(to left, $app--color 50% ,$transparent 50%);
			   	   }
			    }
			    &:nth-child(2) {
			       background-image: linear-gradient(to left, $web--color 50% ,$transparent 50%);
			    }
			    &:nth-child(3) {
			       background-image: linear-gradient(to left, $design--color 50% ,$transparent 50%);

			    }
			 }
			&:nth-child(1) {
		       mark {
		      	 background-image: linear-gradient(to left, $app--color 50% ,$transparent 50%);
		   	   }
		    }
		    &:nth-child(2) {
		       mark {
		      	 background-image: linear-gradient(to left, $web--color 50% ,$transparent 50%);
		   	   }
		    }
		    &:nth-child(3) {
		       mark {
		      	 background-image: linear-gradient(to left, $design--color 50% ,$transparent 50%);
		   	   }
		    }
		    &:nth-child(4) {
		       mark {
		      	 background-image: linear-gradient(to left, $startup--color 50% ,$transparent 50%);
		   	   }
		    }
			@include mega {
				height:$nav--height;
				margin-right:2em;
			}
			@include desktop {
				height:$nav--height;
				margin-right:1.5em;
			}
			&.nav--active {
				opacity:1;
				mark {
					background-position: -99% 100%;
				}
				@include desktop {
					&:hover {
						color:#fff;
					}
				}

			}
 		}
	}

