.nav--primary {
	position:absolute;
	z-index:999;
	top: 0;
    left: 0;
    right: 0;
    width: 100%;
	margin:0 auto;
	transition:left 0.2s;
	padding:2em 0em;

	@include tablet {
		padding:2em 4em;
	}

	@include mega {
		padding:2em 4em;
	}

	@include tablet-landscape {
		padding:2em 4em;
	}

	@include desktop {
		padding:2em 4em;
		position:fixed;

	}

	.nav--links {
		 display: inline-flex;
		 overflow: scroll;
		 margin-top:1.2em;

		 .nav--links--inner {
		 	display:inline-flex;
		 }
		 @include tablet {
		 	justify-content: flex-end;
		 }
		 @include mega {
		 	justify-content: flex-end;
		 }
		 @include desktop {
		 	justify-content: flex-end;
		 }
	 }
		a {
			text-decoration: none;
			font-size:1em;
			font-weight:900;
			letter-spacing: 0.1em;
			text-transform:uppercase;
			color:#fff;
			position:relative;

			&:first-child {
				margin-left:1em;
			}
			margin-right:0.25em;
			overflow:hidden;
		 	mark {
			    background-color:$transparent;
			    padding:0.65em 1em;
			    white-space: nowrap;
			    background-size: 200% 100%;
			    background-position: 0% 100%;
			    background-color:none;
			    transition: background-position 1.5s cubic-bezier(0.77, 0, 0.175, 1);
			    border-radius:50px;
			    color:#fff;
			    &:nth-child(1) {
			       mask {
			      	 background-image: linear-gradient(to left, $app--color 50% ,$transparent 50%);
			   	   }
			    }
			    &:nth-child(2) {
			       background-image: linear-gradient(to left, $web--color 50% ,$transparent 50%);
			    }
			    &:nth-child(3) {
			       background-image: linear-gradient(to left, $design--color 50% ,$transparent 50%);

			    }
			 }
			&:nth-child(1) {
		       mark {
		      	 background-image: linear-gradient(to left, $app--color 50% ,$transparent 50%);
		   	   }
		    }
		    &:nth-child(2) {
		       mark {
		      	 background-image: linear-gradient(to left, $web--color 50% ,$transparent 50%);
		   	   }
		    }
		    &:nth-child(3) {
		       mark {
		      	 background-image: linear-gradient(to left, $design--color 50% ,$transparent 50%);
		   	   }
		    }
		    &:nth-child(4) {
		       mark {
		      	 background-image: linear-gradient(to left, $design--color 50% ,$transparent 50%);
		   	   }
		    }
			@include mega {
				height:$nav--height;
				margin-right:2em;
			}
			@include desktop {
				height:$nav--height;
				margin-right:1.5em;
			}
			&.nav--active {
				opacity:1;
				mark {
					background-position: -100% 100%;
				}
				@include desktop {
					&:hover {
						color:#fff;
					}
				}

			}
 		}
	}

