.post-container {
		max-height:100vh;
		min-height:100vh;
		position:fixed;
		overflow-x:hidden;
		width:100%;
		z-index:2;
		top:0;
		overflow-y:scroll;
		-webkit-overflow-scrolling: touch;
		right:0;
		transform:translateX(100%);
		transition:transform .5s cubic-bezier(0.77, 0, 0.175, 1);

		.intro--wrapper {
			padding:$margin--medium*1.5 $margin--small;
			position:relative;
			//@include mask--hover;
			height:75vh;
			@include mega {
				padding:$margin--large $margin--large*1.5;
			}
			@include desktop {
				padding:$margin--large;
			}
			@include tablet {
				padding:$margin--large $margin--small;
			}
			@include tablet-landscape {
				padding:$margin--large $margin--medium;
			}
		}
		.detail--intro {
			background: rgba(0, 0, 0, 0.05);
			padding:$margin--small;
			position:relative;
			width:100%;
			padding:2em 1.25em;
			@include mega {
			   	padding:4em 20em;
			  }
			  @include desktop {
			   padding:2em 17.5em;
			  }
			  @include tablet {
			  padding:2em 5em;
			  }
			  @include tablet-landscape {
			  padding:2em 10em;
			  }
			  @include mobile-landscape {
			   padding:2em 5em;
			  }
			text-align:left;
			&::after {
				content: "";
			    background: url(../../assets/wave-transparent.svg) 0 100% repeat-x;
			    position: absolute;
			    display:block;
				left: -50%;
				right: -50%;
				z-index: 1;
				height: 25px;
				-webkit-transform: scale(0.5);
				transform: scale(0.5);
				top: auto;
				bottom: -18px;
			}
			.author--wrapper {
				margin-top:2em;
				.author--image {
					height:50px;
					width:50px;
					border-radius:50%;
					background-size:cover;
					background-repeat:no-repeat;
					background-position:center;
				}
				.author--info {
					margin-left:1em;
					h5 {
						margin-top:0em;
						font-size:1.1em;
						font-weight:400;
						margin-bottom:0em;
					}
					h4 {
						margin-top:0em;
						font-weight:500;
						font-size:1.3em;
					}
				}
		    }

		    h2 {
				font-size:1.5em;
				font-style:normal;
				width:100%;
				letter-spacing: normal;
				text-transform:none;
				font-weight:700;
				line-height:1.4;
				margin-top:0.5em;
				margin-bottom:0.75em;
				 @include mega {
				    font-size:3.5em;
				    font-weight:500;
				    line-height: 1.2;
				  }
				  @include desktop {
				    font-size:3em;
				    padding-right:2em;
				    line-height: 1.2em;
				  }
				  @include tablet {
				    font-size:2em;
				  }
				  @include tablet-landscape {
				    font-size:1.5em;
				  }
				  @include mobile-landscape {
				    font-size:1.4em;
				  }
			}
		}
		.post--content {
			width:100%;
			padding:3.5em 1.25em;
			@include mega {
			   	padding:7.5em 20em;
			  }
			  @include desktop {
			   padding:3.5em 17.5em;
			  }
			  @include tablet {
			  padding:3.5em 5em;
			  }
			  @include tablet-landscape {
			  padding:3.5em 10em;
			  }
			  @include mobile-landscape {
			   padding:3.5em 5em;
			  }
			text-align:left;

			h5 {
				font-size:1.5em;
				font-style:normal;
				width:100%;
				text-transform:none;
				font-weight:500;
				line-height:1.4;
				margin-top:0.5em;
				margin-bottom:0.75em;
				 @include mega {
				    font-size:2.3em;
				    font-weight:500;
				    line-height: 1.2;
				  }
				  @include desktop {
				    font-size:2.2em;
				    padding-right:2em;
				    font-weight:500;
				    line-height: 1.2em;
				  }
				  @include tablet {
				    font-size:2em;
				  }
				  @include tablet-landscape {
				    font-size:1.5em;
				  }
				  @include mobile-landscape {
				    font-size:1.4em;
				  }
			}

			p {
				font-size:1.25em;
				max-width:100%;
				  @include mega {
				   	max-width:60%;
				   	font-size:1.4em;
				  }
				  @include desktop {
				    max-width:80%;
				    font-size:1.4em;
				  }
				  @include tablet {
				   max-width:80%;
				  }
				  @include tablet-landscape {
				  max-width:70%;

				  }
				  @include mobile-landscape {
				    max-width:80%;
				  }
			}

			ul {
				li {
					font-size:1.4em;
					font-weight:500;
				}
			}
			a{
				color:#fff;
				text-decoration: underline;
			}
			blockquote {
			  margin:1em 0em;
			  padding:0em 0em 0em 2em;
			  font-size:1.3em;
			  font-weight:600;
			  border-left: 3px solid rgba(0,0,0,0.1);
			} 
			figure {
				width:100% !important;
				margin:2.5em 0em;
				img {
					width:100%;
					height:auto;
					border-radius:4px;
				}
				figcaption {
					font-size:1.2em;
				}
			}

		}

	}
	.expand-transition {
	 	transform:translateX(0%);
	}

	.expand-leave {
		transform:translateX(100%);
	}

	/* .expand-enter defines the starting state for entering */
	/* .expand-leave defines the ending state for leaving */
	.expand-enter {
		transform:translateX(100%);
	}