.project-container {
		max-height:100vh;
		min-height:100vh;
		background-color:#fff;
		position:fixed;
		width:100%;
		z-index:2;
		top:0;
		overflow:scroll;
		right:0;
		transform:translateX(100%);
		transition:all 0.6s cubic-bezier(0.86, 0, 0.07, 1);

		.section--overlap {
			position:absolute;
			bottom:-55px;
			left:0;
			right:0;
			z-index:2;
			margin:auto;
		}

		.project-inner {
			display:flex;
			width:100%;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			//color:#fff;
			.project--image {
				height:80vh;
				width:100%;
				position:relative;

				.project--image_container {
					height:40%;
					width:70%;
					background-size:contain;
					position:relative;
					background-position:center;
					background-repeat:no-repeat;
					animation: hover 1.75s infinite;
					animation-direction: alternate;
				}

				.project--shadow {
					width:60%;
					max-width:250px;
					height:15px;
					margin-top:2.5em;
					border-radius:50%;
					opacity: 0.2;
					background-color:black;
					animation: scale 1.75s infinite;
					animation-direction: alternate;

				}

			}

			.project--section {
				padding:$margin--medium $margin--small/2;
				position:relative;
				width:100%;

				&.project--intro {
					padding-top:2.5em;

					@include desktop {
						padding-top:7.5em;
					}
				}
				p {
					font-size:1.2em;
					font-weight:500;
					color:#565656;

					@include desktop {
						font-size:1.5em;
						font-weight:500;
					}
				}

				.project--results {
					font-size:1.5em;
					font-weight:700;
					line-height:1.8em;

					@include desktop {
						font-size:2.5em;
						font-weight:700;
						line-height:1.8em;
					}

					span {
						background-color: rgba(0, 0, 0, 0.1);
						padding:0em 0.3em;
						word-break: nowrap;
						white-space: pre;
						border-radius:5px;
					}
				}

				&.colored {
					background-color:$dobus--primary;
					color:#fff;
					.section--overlap {
						fill:$dobus--primary;
					}

					h1 {
						margin-top:0em;
					}

					p {
					font-size:1.2em;
					font-weight:500;
					color:#fff;

					@include desktop {
						font-size:1.5em;
						font-weight:500;
					}
				}
				}

				@include desktop {
					padding:$margin--medium $margin--large;
				}

				.case--image {
					//height:200px;
					width:100%;
					margin-top:2em;
					//padding:1.2em;
					//background-color:blue;

					@include desktop {
						height:500px;
						margin-top:0em;
					}

					img {
						  max-width:90%;
						  max-height:100%;
						  width: auto;
						  height: auto;

						@include desktop {
							 max-width:80%;
						}
					}
				}

				h1 {
					font-size:2.1em;
					margin-bottom:0.25em;
					margin-top:1.2em;
					line-height:1;

					@include desktop {
						width:100%;
						margin:0 auto;
						margin-top:0em;
						font-size:3.5em;
					}
				}
				h4 {
					margin-top:1em;
					font-weight:400;
					@include desktop {
						font-size:1.8em;
					}
				}

				h2 {
					margin-top:$margin--small/2;
					font-weight:500;
					font-size:1.2em;
					@include desktop {
						font-size:2.2em;
						width:80%;
						margin:$margin--small/2 auto $margin--small/2 auto;
					}
				}

				hr {
					border-width: 0 0 10px 0;
					margin:$margin--small/2 auto;
					opacity:0.1;
					width:70%;
 					border-image: url(../../assets/dot.svg) 35% round;
				}
			}

			.next--project {
				padding:$margin--medium $margin--small/2;
				text-align: center;
				width:100%;
				color:#fff;
				text-align: center;

				@include desktop {
					padding:$margin--large;
					text-align: left;
				}

				.primary--button {
					max-width:250px;
					margin:0 auto;

					@include desktop {
						margin:0em;
					}
				}
				span {
					font-size:1.4em;
					font-weight:500;
					margin-bottom:0.2em;
					color:#000;
					opacity: 0.3;
				}
				h1 {
					font-size:2.1em;
					margin-bottom:0em;
					margin-top:0em;
					line-height:1.25;

					@include desktop {
						margin-top:0em;
						font-size:2.0em;
					}
				}
				h4 {
					margin-top:0.4em;
					font-weight:400;
					@include desktop {
						font-size:1.5em;
					}
				}

				h2 {
					margin-top:$margin--small/2;
					font-weight:500;
					font-size:1.2em;
					@include desktop {
						font-size:2em;
						width:80%;
						margin:$margin--small auto;
					}
				}

				.project--image_container {
					height:210px;
					animation: hover 1.75s infinite;
					animation-direction: alternate;
					background-position:center;
					background-repeat:no-repeat;
					background-size:contain;
				}

				.project--shadow {
					width:200px;
					height:15px;
					animation: scale 1.75s infinite;
					animation-direction: alternate;
					background-color:black;
					opacity: 0.2;
					margin:2em auto;
					border-radius:50%;
				}
			}
		}
	}
	.expand-transition {
	 	transform:translateX(0%);
	}

	.expand-leave {
		transform:translateX(100%);
	}

	/* .expand-enter defines the starting state for entering */
	/* .expand-leave defines the ending state for leaving */
	.expand-enter {
		transform:translateX(100%);
	}