.project-container {
		max-height:100vh;
		min-height:100vh;
		background-color:#fff;
		position:fixed;
		width:100%;
		z-index:2;
		top:0;
		overflow:scroll;
		right:0;
		transform:translateX(100%);
		transition:all 0.6s cubic-bezier(0.86, 0, 0.07, 1);

		.project-inner {
			display:flex;
			width:100%;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			//color:#fff;


			.project--intro {
				height:80vh;
				width:100%;
				padding:$margin--large;
				background-size:50%;
				background-position:center;

			}
		}
	}
	.expand-transition {
	 	transform:translateX(0%);
	}

	.expand-leave {
		transform:translateX(100%);
	}

	/* .expand-enter defines the starting state for entering */
	/* .expand-leave defines the ending state for leaving */
	.expand-enter {
		transform:translateX(100%);
	}