*, *:after, *:before {
  box-sizing: border-box;
}
html, body {
  font-size: 16px;
}
.container {
  margin: 0 auto;
  text-align: center;
  background: $dobus--primary url(../../assets/pattern_dobus.svg) repeat;
  background-size:35%;
  min-height:100vh;
  @include desktop {
    background-size:12%;
  }
  @include mega {
    background-size:12%;
  }
  &.fadeIn {
    overflow:hidden;
    animation: backgroundScroll 1s cubic-bezier(1, 0, 0, 1) infinite;
    animation-delay: 0.75s;
  }
  @keyframes backgroundScroll {
    from {background-position: 0% 0%;}
    to {background-position: -108% 0%}
  }
  @include desktop {
       @keyframes backgroundScroll {
        from {background-position: 0% 0%;}
        to {background-position: -150% 0%}
    }
  }
  @include mega {
      @keyframes backgroundScroll {
      from {background-position: 0% 0%;}
      to {background-position: -150% 0%}
    }
  }
  &.nav--project_open {
    overflow:hidden;
    }
}

.container:after, .row:after {
  content: "";
  display: table;
  clear: both;
}

.row {
  display: flex;
  flex-flow: row wrap;
  //margin-right: -($column-gutter/2);
  //margin-left: -($column-gutter/2);
  &.align-middle {
    align-items: center;
  }
  &.align-bottom {
    align-items: flex-end;
  }
  &.align-left {
    justify-content: flex-start;
  }
  &.align-center {
    justify-content: center;
  }
  &.align-right {
    justify-content: flex-end;
  }

[class*="col"] {
  width: 100%;
  //padding: 0 $column-gutter/2;
}

@mixin col-size($col){
  flex-basis: (100% * $col / 12);
  max-width: (100% * $col / 12);
  }

@each $col in (1,2,3,4,5,6,7,8,9,10,11,12) {
  .col-xs-#{$col}{
    @include col-size($col);
  }
}

@media (min-width: #{$device-sm}){
  html, body {
    font-size: 12px;
  }
  @each $col in (1,2,3,4,5,6,7,8,9,10,11,12){
    .col-sm-#{$col}{
      @include col-size($col);
    }
  }
}
@media (min-width: #{$device-md}){
  html, body {
    font-size: 14px;
  }
  @each $col in (1,2,3,4,5,6,7,8,9,10,11,12){
    .col-md-#{$col} {
      @include col-size($col);
    }
  }
}

@media (min-width: #{$device-lg}){
  @each $col in (1,2,3,4,5,6,7,8,9,10,11,12){
    .col-lg-#{$col}{
      @include col-size($col);
    }
  }
}
}