.service--section {
	color:#fff;
	position:relative;


	.service--top {
		height:25px;
		position:relative;
		width:100%;
		top:-19px;

		&::after {
			content: "";
		    background: url(../../assets/wave.svg) 0 100% repeat-x;
		    position: absolute;
			left: -50%;
			right: -50%;
			z-index: 1;
			height: 25px;
			opacity:0.1;
			transform: scale(0.5);
			top: auto;
			bottom: -25px;
		}
	}


	.service--header {
		padding:$margin--small/2 $margin--small;
		position:relative;
		text-align: center;
		//background: url(../../assets/pattern_dobus.svg) repeat;
		background-size:15%;
		
		@include tablet {
			padding:$margin--medium $margin--medium;
		}

		@include desktop {
			padding:$margin--large $margin--large;
			text-align: left;
		}

			h1 {
				font-size:2em;
				line-height: 1.1;
				margin-top: $margin--small/2;
				@include tablet {
					font-size:3em;
					margin-top: $no-margin--top;
				}
				@include desktop {
					font-size:3.2em;
					margin-top: $no-margin--top;
				}
			}

			p {
				font-size:1.1em;
				margin-left:0em;
				padding:0em;
				@include tablet {
					font-size:1.4em;
				}
				@include desktop {
					font-size:1.5em;
				}
			}
	
	}


	.service--content {
		z-index:2;
		background-color: rgba(0, 0, 0, 0.09);
		position:relative;

		.service--project {
			padding:$margin--small $margin--small;
			position:relative;
			min-width:200px;
			@include tablet {
				padding:$margin--medium $margin--medium;
				margin-top:0em;
			}
			@include desktop {
				padding:$margin--large $margin--medium;
				margin-top:0em;
				transition:all 0.5s;
				.project--image {
					opacity:0.2;
					transition:all 0.4s;
				}
				&:hover {
					transform:translateX(-2.5em);
					cursor:pointer;
					.project--image {
						opacity:0.4;
						transform:translateX(-2.5em);
					}
					.project--intro{
						transform:translate(-52.5%, -50%);
					}
					.project--arrow {
						opacity: 1;
					}
				}
			}

			.project--arrow {
				position:absolute;
				height:100%;
				width:100px;
				opacity: 0;
				right:0;
				top:0;
				transition:opacity 0.3s;
			}

			.project--image {
				height:150px;
				opacity:0.2;
				animation: hover 1.75s infinite;
				animation-direction: alternate;

				@include tablet {
					height:250px;
					margin-bottom:$margin--small;
				}

				@include desktop {
					height:250px;
					margin-bottom:$margin--small;
				}

				margin-bottom:$margin--small;
				position:relative;
				background-position:center;
				width:80%;
				background-size:contain;
				background-repeat:no-repeat;
			}

			.project--shadow {
				height:10px;
				background-color:black;
				opacity: 0.2;
				width:50%;
				max-width:225px;
				transition:all 0.4s;
				animation: scale 1.75s infinite;
				animation-direction: alternate;

				@include desktop {
					width:40%;
				}
				border-radius:50%;
			}

			.project--intro {
				@include centerer;
				width:80%;
				transition:transform 0.4s;

				h1 {
					font-size:1.7em;
					line-height:1;
					margin:0;

					@include tablet {
						font-size:2.8em;
					}

					@include desktop {
						font-size:3.5em;
					}
				}

				h4 {
					font-size:1em;
					font-weight:500;
					margin-top:0.2em;
					@include tablet {
						font-size:1.2em;
					}
					@include desktop {
						font-size:1.5em;
					}
				}
			}
		}
	}
}