


.service--section {
	color:#fff;
	position:relative;


	.service--top {
		height:25px;
		position:relative;
		width:100%;
		top:-19px;

		&::after {
			content: "";
		    background: url(../../assets/wave.svg) 0 100% repeat-x;
		    position: absolute;
			left: -50%;
			right: -50%;
			z-index: 1;
			height: 25px;
			opacity:0.1;
			transform: scale(0.5);
			top: auto;
			bottom: -25px;
		}
	}


	.service--header {
		padding:$margin--small/2 $margin--small;
		position:relative;
		text-align: center;
		//background: url(../../assets/pattern_dobus.svg) repeat;
		background-size:15%;
		overflow:hidden;
		@include desktop {

			&:hover{
					//Webb

					#box_x5F_1 {
					transform:translate(188.000000px, 96.000000px);
					}
					#box_x5F_2 {
						transform: translate(237.000000px, 68.000000px);
					}
					#box_x5F_3 {
						transform: translate(140.000000px, 68.000000px);
					}
					#box_x5F_4 {
						transform: translate(188.000000px, 40.000000px);
					}
					#box_x5F_5 {
						transform: translate(92.000000px, 40.000000px);
					}
					#box_x5F_6 {
						transform: translate(140.000000px, 12.000000px);
					}

					// Digital Design 
					#back_x5F_end {
						transform: translateX(27.000000px) translateY(100.000000px);
					}

					#Phone_x5F_top {
						transform: translateX(0.000000px) translateY(-100.000000px);
					}
					// Rocket Illustration
					#raket{
						transition:all 0.8s;
						transform:translateY(-700.00000px) translateX(150.00000px);
					}
					#raket_x5F_skugga {
						transition:all 0.4s;
						opacity:0.4;
					}
					#knapp {
						transform:translateY(230.00000px) translateX(40.00000px);
					}

				}
		}


		svg {
			width:50%;
			height:auto;
			overflow:visible;

			//Webbutveckling 

			#box_x5F_1 {
			transform:translate(188.000000px, 96.000000px);
			}
			#box_x5F_2 {
				transform: translate(237.000000px, 68.000000px);
			}
			#box_x5F_3 {
				transform: translate(140.000000px, 68.000000px);
			}
			#box_x5F_4 {
				transform: translate(188.000000px, 40.000000px);
			}
			#box_x5F_5 {
				transform: translate(92.000000px, 40.000000px);
			}
			#box_x5F_6 {
				transform: translate(140.000000px, 12.000000px);
			}
			@include desktop {
				#box_x5F_1 {
				transform:translate(188.000000px, -700.000000px);
				transition: all 0.75s;
				transition-delay: 0.1s;
				}
				#box_x5F_2 {
					transform: translate(237.000000px, -700.000000px);
					transition: all 0.75s;
					transition-delay: 0.2s;
				}
				#box_x5F_3 {
					transform: translate(140.000000px, -700.000000px);
					transition: all 0.75s;
					transition-delay: 0.3s;
				}
				#box_x5F_4 {
					transform: translate(188.000000px, -700.000000px);
					transition: all 0.75s;
					transition-delay: 0.4s;
				}
				#box_x5F_5 {
					transform: translate(92.000000px, -700.000000px);
					transition: all 0.75s;
					transition-delay: 0.5s;
				}
				#box_x5F_6 {
					transform: translate(140.000000px, -700.000000px);
					transition: all 0.75s;
					transition-delay: 0.6s;
				}
			}
			
			// Digital Design 

			#back_x5F_end {
				transform: translateX(27.000000px) translateY(270.000000px);
				transition: all 0.75s;
				transition-delay: 0.1s;
			}
			#Phone_x5F_top {
				transform: translateX(0.000000px) translateY(240.000000px);
				transition: all 1s;
			}

			// Rocket Illustration

			#raket_x5F_skugga {
				transition:all 0.4s;
				opacity:1;
			}
			#raket{
				transition:all 2s;
				transform:translateY(0.00000px) translateX(150.00000px);
			}

			#knapp {
				transform:translateY(227.00000px) translateX(40.00000px);
				transition:all 0.7s;
			}

			@include desktop {
				width:55%;
				height:auto;
			}
		}
		
		@include tablet {
			padding:$margin--medium $margin--medium;
		}

		@include desktop {
			padding:$margin--large $margin--large;
			text-align: left;
		}

		@include mega {
			padding:$margin--large*1.5 $margin--large*1.5;
			text-align: left;
		}

			h1 {
				font-size:2em;
				line-height: 1.1;
				margin-top: $margin--small/2;
				@include tablet {
					font-size:3em;
					margin-top: $no-margin--top;
				}
				@include desktop {
					font-size:3.2em;
					margin-top: $no-margin--top;
				}
				@include mega {
					font-size:4em;
					margin-top: $no-margin--top;
				}
			}

			p {
				font-size:1.1em;
				margin-left:0em;
				padding:0em;
				@include tablet {
					font-size:1.4em;
				}
				@include desktop {
					font-size:1.5em;
				}
				@include mega {
					font-size:1.8em;
				}
			}
	
	}


	.service--content {
		z-index:2;
		background-color: rgba(0, 0, 0, 0.09);
		position:relative;

		.service--project {
			padding:$margin--small $margin--small;
			position:relative;
			min-width:200px;
			@include tablet {
				padding:$margin--medium $margin--medium;
				margin-top:0em;
			}
			@include desktop {
				padding:$margin--large $margin--medium;
				margin-top:0em;
				transition:all 0.5s;
				.project--image {
					opacity:0.2;
					transition:all 0.4s;
				}
				&:hover {
					transform:translateX(-2.5em);
					cursor:pointer;
					.project--image {
						opacity:0.4;
						transform:translateX(-2.5em);
					}
					.project--intro{
						transform:translate(-52.5%, -50%);
					}
					.project--arrow {
						opacity: 1;
					}
				}
			}

			@include mega {
			padding:$margin--large $margin--large;
			margin-top:0em;
			transition:all 0.5s;
				.project--image {
					opacity:0.2;
					transition:all 0.4s;
				}
				&:hover {
					transform:translateX(-2.5em);
					cursor:pointer;
					.project--image {
						opacity:0.4;
						transform:translateX(-2.5em);
					}
					.project--intro{
						transform:translate(-52.5%, -50%);
					}
					.project--arrow {
						opacity: 1;
					}
				}
			}


			.project--arrow {
				//position:absolute;
				height:75px;
				width:75px;
				@include vertical--centerer;
				opacity: 0;
				border-radius:50%;
				background-color:rgba(0,0,0,0.1);
				right:25px;
				transition:opacity 0.3s;
			}

			.project--image {
				height:150px;
				opacity:0.2;
				animation: hover 1.75s infinite;
				animation-direction: alternate;

				@include tablet {
					height:250px;
					margin-bottom:$margin--small;
				}

				@include desktop {
					height:250px;
					margin-bottom:$margin--small;
				}

				@include mega {
					height:350px;
					margin-bottom:$margin--small;
				}

				margin-bottom:$margin--small;
				position:relative;
				background-position:center;
				width:80%;
				background-size:contain;
				background-repeat:no-repeat;
			}

			.project--shadow {
				height:10px;
				background-color:black;
				opacity: 0.2;
				width:50%;
				max-width:225px;
				transition:all 0.4s;
				animation: scale 1.75s infinite;
				animation-direction: alternate;

				@include desktop {
					width:40%;
				}
				border-radius:50%;
			}

			.project--intro {
				@include centerer;
				width:80%;
				transition:transform 0.4s;
				hr {
					width:30%;
				}
				img {
					max-height:80px;
					max-width:200px;
					width:auto;
					height:auto;
					margin-top:0.5em;
				}
				h1 {
					font-size:1.7em;
					line-height:1;
					margin:0;

					@include tablet {
						font-size:2.8em;
					}

					@include desktop {
						font-size:3.5em;
					}

					@include mega {
						font-size:3.8em;
					}
				}

				h4 {
					font-size:1em;
					font-weight:500;
					margin-bottom:0.5em;
					margin-top:0.2em;
					@include tablet {
						font-size:1.2em;
					}
					@include desktop {
						font-size:1.5em;
					}

					@include mega {
						font-size:1.75em;
					}
				}
			}
		}
	}
}