
//Color Variables

$dobus--primary: #FFC400;
$dobus--black: #222222;


//Media Query Widths 

$device-sm: 30em;
$device-md: 40em;
$device-lg: 72em;


//Media Queries 
@mixin tablet {
  @media (min-width: #{$device-md}) and (max-width: #{$device-lg - 0.1em}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$device-lg}) {
    @content;
  }
}

//General Style Variables 


$font: "brandon-grotesque";
$nav--height: 85px;
	
$margin--small: 2.5em;
$margin--medium: 5em;
$margin--large: 10em;

$no-margin--top: 0em;

$easing: cubic-bezier(0.25, 0.46, 0.45, 0.94);

//Hover Styles & Effects 



//Mixins 

@mixin centerer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin vertical--centerer {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}


@mixin scrollbars($size, $foreground-color, $background-color: mix($foreground-color, white, 50%)) {
	  ::-webkit-scrollbar {
	      width:  $size;
	      height: $size;
	  }

	  ::-webkit-scrollbar-thumb {
	      background: $foreground-color;
	      visibility: hidden;
	  }

	  ::-webkit-scrollbar-track {
	      background: $background-color;
	      visibility: hidden;
	  }

	  // For Internet Explorer
	  body {
	    scrollbar-face-color: $foreground-color;
	    scrollbar-track-color: $background-color;
	  }
	}

@include scrollbars(0em, slategray);


